<!--
    * para establecer macros en Jinja2, se utiliza la palabra clave macro
    * seguida de un nombre de la macro y una lista de atributos o argumentos
-->
{%macro datos(name, placeholder, type="text") %}
<!--
    * ahora, creamos una etiqueta html con un input
    * el input tiene en los atributos las variables de la macro que declaramos anteriormente
-->
<label for="name">{{name}}:</label>
<p>
    <input name="{{name}}" type="{{type}}" placeholder="{{placeholder}}">
</p>
{%endmacro%}

{%macro camposNuevos(field)%}
<td>{{field.label}}</td>
<dd>{{field(**kwargs) | safe}}</dd>

    {%if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li class="text-danger">{{error}}</li>
            {%endfor%}
        </ul>
    {%endif%}

{%endmacro%}

